.flex-gaming-container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}
.gaming-container {
  min-width: calc(100% - 20vw);
  margin-left: 20vw;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  overflow-y: auto;
}
.gaming-light {
  background-color: rgba(247, 246, 246, 0.904);
}
.gaming-dark {
  background-color: black;
}
.gaming-heading-div {
  background-color: rgba(241, 241, 241, 255);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}
.gheading-div-dark {
  background-color: rgba(24, 24, 24, 255);
  color: white;
}
.gicon-container {
  margin-right: 20px;
  border-radius: 50%;
  padding: 25px 28px 25px 28px;
}
.glight-icon-container {
  background-color: rgba(225, 233, 240, 255);
}
.gdark-icon-container {
  background-color: rgba(15, 15, 15, 255);
}
.gicon {
  height: 35px;
  width: 35px;
  color: #ff031c;
}
.gheading {
  font-size: 35px;
  font-weight: 700;
}
.gcontainer-light {
  background-color: rgba(247, 246, 246, 0.904);
}
.gcontainer-dark {
  background-color: black;
}
.gvideos-container {
  padding: 20px;
}
.gaming-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 20px;
  width: 100%;
}
.gloader {
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 575px) {
  .gaming-container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 65px;
  }
  .gvideos-container {
    padding: 20px;
  }
  .gicon {
    height: 25px;
    width: 25px;
  }
  .gicon-container {
    margin-right: 20px;
    border-radius: 50%;
    padding: 15px 18px 15px 18px;
    margin-left: 15px;
  }
  .gaming-heading-div {
    padding: 15px;
  }
  .gheading {
    font-size: 25px;
  }
  .gaming-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .gaming-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 65px;
  }
  .gvideos-container {
    padding: 20px;
  }
  .gicon {
    height: 25px;
    width: 25px;
  }
  .gicon-container {
    margin-right: 20px;
    border-radius: 50%;
    padding: 15px 18px 15px 18px;
    margin-left: 15px;
    margin-top: 15px;
  }
  .gaming-heading-div {
    padding: 15px;
  }
  .gheading {
    font-size: 25px;
    margin-top: 30px;
  }
  .gaming-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}
