.light-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.dark-container {
    background-color: rgb(41, 42, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container-light {
    height: auto;
    width: 30%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 4px 20px 0 rgba(17, 17, 17, 0.1);
    color: black
}
.container-dark {
    height: auto;
    width: 30%;
    align-self: center;
    background-color: rgb(18, 18, 19);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    color: rgb(238, 229, 229);
}
.form-container {
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 30px 30px 30px 30px;
    align-self: center;
    height: 45px;
    width: 200px;
}
.label-light {
    color: rgb(129, 129, 129);
    margin: 15px 10px 5px 10px;
    font-weight: 600;
}
.label-dark {
    color: rgb(240, 236, 236);
    margin: 15px 10px 5px 10px;
    font-weight: 600;
}
.input-light {
    height: 45px;
    margin: 0 10px 10px 10px;
    padding: 5px;
    width: 95%;
    font-size: 14px;
    border: rgb(148, 146, 146);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}
.input-dark {
    background-color: transparent;
    height: 45px;
    margin: 0 10px 10px 10px;
    padding: 5px;
    width: 95%;
    font-size: 14px;
    color: white;
    border: gray;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}
.check-light {
    color: rgb(46, 45, 45);
    margin: 15px 10px 0 0;
    font-size: 17px;
}
.check-dark {
    color: azure;
    margin: 15px 10px 0 0;
    font-size: 17px;
}
.checkbox-light {
    margin-right: 8px;
    border: black;
}
.checkbox-dark {
    margin-right: 8px;
    border: black;
}
.check-div {
    padding: 5px 10px 30px 10px;
}
.login-btn {
    background-color: rgb(20, 135, 236);
    border: none;
    color: white;
    height: 40px;
    margin: 10px 10px 20px 10px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
}
.errorMsg {
    color: rgb(216, 34, 34);
    margin-top: 0;
    padding-left: 20px;
}

@media (max-width: 575px) {
    .container-light{
        width: 90%;
    }
    .container-dark {
        width: 90%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container-light {
        width: 70%;
    }
    .continer-dark {
        width: 70%;
    }

}

@media (min-width: 768px) and (max-width:1030px) {
    .container-light {
        width: 50%;
    }
    .container-dark {
        width: 50%;
    }
}