.flex-container-trending {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.trending-container {
  min-width: calc(100% - 20vw);
  margin-left: 20vw;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  overflow-y: auto;
}
.trending-heading-div {
  background-color: rgba(241, 241, 241, 255);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}
.heading-div-dark {
  background-color: rgba(24, 24, 24, 255);
  color: white;
}
.icon-container {
  margin-right: 20px;
  border-radius: 50%;
  padding: 25px 28px 25px 28px;
}
.light-icon-container {
  background-color: rgba(225, 233, 240, 255);
}
.dark-icon-container {
  background-color: rgba(15, 15, 15, 255);
}
.ticon {
  height: 35px;
  width: 35px;
  color: #ff031c;
}
.theading {
  font-size: 35px;
  font-weight: 700;
}
.tvideos-container {
  padding: 40px;
}
.tcontainer-light {
  background-color: rgba(247, 246, 246, 0.904);
}
.tcontainer-dark {
  background-color: black;
}

@media (max-width: 575px) {
  .trending-container {
    margin-left: 0;
    margin-top: 65px;
  }
  .tvideos-container {
    padding: 0;
  }
  .ticon {
    height: 25px;
    width: 25px;
  }
  .icon-container {
    margin-right: 20px;
    border-radius: 50%;
    padding: 15px 18px 15px 18px;
    margin-left: 15px;
  }
  .trending-heading-div {
    padding: 15px;
  }
  .theading {
    font-size: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .trending-container {
    margin-left: 0;
    margin-top: 65px;
  }
  .tvideos-container {
    padding: 20px;
  }
  .ticon {
    height: 25px;
    width: 25px;
  }
  .icon-container {
    margin-right: 20px;
    border-radius: 50%;
    padding: 15px 18px 15px 18px;
    margin-left: 15px;
    margin-top: 15px;
  }
  .trending-heading-div {
    padding: 15px;
  }
  .theading {
    font-size: 25px;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}
